<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | NoteStream</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="page-container">

    <%- include("partials/header.ejs") %>

    <main class="content about-section">

      <div class="about-container">

        <!-- LEFT SIDE -->
        <div class="about-text">
          <h1>Meet the face<br>behind the posts</h1>

          <p>
            Hi, I'm Siddharth. NoteStream is my personal space to think,
            reflect, and document ideas around development, technology,
            and learning.
          </p>

          <p>
            I started this blog to build in public — to share what I learn,
            what I build, and the lessons that come along the way.
            Writing helps me clarify thoughts, and I hope it helps you too.
          </p>

          <p>
            Whether it's backend architecture, system design,
            or lessons from building projects — this space is about growth,
            curiosity, and clarity.
          </p>
        </div>

        <!-- RIGHT SIDE -->
        <div class="about-image">
          <img src="/images/Siddharth.jpeg" alt="About Image">
        </div>

      </div>

    </main>

    <%- include("partials/footer.ejs") %>

  </div>
</body>
</html>